@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Custom design system variables */
    --color-surface-50: 212 100% 97%;
    --color-surface-0: 0 0% 100%;
    --color-surface-100: 210 40% 96%;
    --color-surface-300: 213 27% 84%;
    --color-surface-500: 215 20% 65%;
    --color-surface-900: 222 84% 5%;
    --color-primary-color: 204 100% 36%;
    --color-primary-contrast: 0 0% 100%;
    --content-border-color: 213 27% 84%;
    --menu-item-focus-background: 210 40% 96%;
    --menu-item-focus-color: 222 47% 18%;
    --menu-item-color: 215 25% 27%;
    --purple-600: 271 81% 56%;
    --teal-600: 172 82% 29%;
    --indigo-500: 239 84% 67%;
    --brand-white: 0 0% 100%;
    --brand-light-gray: 0 0% 80%;
    --brand-newmark-blue: 204 100% 36%;
    --brand-black: 0 0% 0%;
    --brand-dark-gray: 0 0% 40%;
    --breadcrumb-background: 0 0% 100%;
    --breadcrumb-item-icon-color: 215 28% 70%;
    --breadcrumb-separator-color: 215 28% 70%;
    --breadcrumb-item-color: 215 20% 65%;
    --text-color: 215 25% 27%;
    --inputtext-background: 0 0% 100%;
    --inputtext-border-color: 213 27% 84%;
    --inputtext-placeholder-color: 215 20% 65%;
    --iconfield-icon-color: 215 28% 70%;
    --button-primary-border-color: 204 100% 36%;
    --button-primary-color: 0 0% 100%;
    --togglebutton-checked-background: 210 40% 96%;
    --togglebutton-content-checked-background: 0 0% 100%;
    --togglebutton-color: 215 20% 65%;
    --checkbox-background: 0 0% 100%;
    --checkbox-border-color: 213 27% 84%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}